<script lang="ts">
import Vue from 'vue';
import CaseStudyCard from './case-study-card.vue';
import { numberToDigitString } from '~/common/util';
import { CarouselWrap } from '~/components/common/index.vue';

export default Vue.extend({
  name: 'CaseStudyCarousel',
  components: { CarouselWrap, CaseStudyCard },
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      step: 0,
    };
  },
  computed: {
    formattedStep() {
      return `${numberToDigitString(this.step + 1)} - ${numberToDigitString(
        this.data.case_studies.length,
      )}`;
    },
  },
  methods: {
    goNext() {
      this.$refs.carousel.next();
      this.step =
        this.step >= this.data.case_studies.length - 1 ? 0 : this.step + 1;
    },
    goPrev() {
      this.$refs.carousel.prev();
      this.step =
        this.step <= 0 ? this.data.case_studies.length - 1 : this.step - 1;
    },
  },
});
</script>

<template>
  <section
    :id="data.id"
    class="case-study-carousel"
    aria-roledescription="carousel"
    aria-label="Case Studies"
    aria-live="polite"
  >
    <div>
      <SlpRow class="case-study-carousel__header">
        <SlpColumn :cols="6">
          <SlpTypography v-if="data.header" tag="h2" variant="heading3-bold"
            >{{ data.header }}
          </SlpTypography>
        </SlpColumn>
        <SlpColumn :cols="4" class="btn-column">
          <SlpButton
            v-if="data.header_link"
            variant="tertiary"
            class="btn-column__btn"
            :href="data.header_link.url"
            :data-ga-name="data.header_link.data_ga_name"
            :data-ga-location="data.header_link.data_ga_location"
          >
            {{ data.header_link.text }}
            <SlpIcon
              class="slp-ml-8"
              name="chevron-lg-right"
              variant="product"
              alt="Chevron Right Icon"
            />
          </SlpButton>
        </SlpColumn>
      </SlpRow>
      <CarouselWrap
        id="case-study-carousel__case-studies"
        ref="carousel"
        role="group"
        class="case-study-carousel__wrapper"
        :aria-label="`Case Study ${step + 1} of ${data.case_studies.length}`"
        aria-roledescription="Case Study Carousel"
        :items="data.case_studies"
      >
        <template #content>
          <template v-if="$refs.carousel">
            <CaseStudyCard
              v-for="caseNumber in $refs.carousel.itemIndexes"
              :key="`case-${caseNumber}`"
              class="case-study-carousel__case"
              :data="data.case_studies[caseNumber]"
            />
          </template>
        </template>
      </CarouselWrap>
      <div class="case-study-carousel__footer">
        <SlpTypography tag="span" variant="body1">{{
          formattedStep
        }}</SlpTypography>
        <div>
          <SlpButton
            variant="icon"
            aria-label="Previous case study"
            aria-controls="case-study-carousel__case-studies"
            @click.native="goPrev()"
          >
            <SlpIcon
              name="chevron-lg-left"
              variant="product"
              alt="Chevron Right Icon"
            />
          </SlpButton>
          <SlpButton
            variant="icon"
            aria-label="Next case study"
            aria-controls="case-study-carousel__case-studies"
            @click.native="goNext()"
          >
            <SlpIcon
              class="slp-ml-8"
              name="chevron-lg-right"
              variant="product"
              alt="Chevron Right Icon"
            />
          </SlpButton>
        </div>
      </div>
    </div>
  </section>
</template>

<style scoped lang="scss">
.case-study-carousel {
  position: relative;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: $spacing-32;
    border-bottom: 2px solid $color-surface-400;

    .btn-column {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;

      @media (max-width: $breakpoint-sm) {
        margin-top: $spacing-24;
      }

      &__btn:deep() {
        padding: 0;
        color: $color-text-300;
        font-weight: $font-weight-bold;
      }
    }
  }

  &__wrapper:deep(.carousel__wrapper) {
    padding: $spacing-48 0;

    .carousel__content {
      flex-wrap: nowrap;
    }

    @media (max-width: $breakpoint-sm) {
      padding: $spacing-24 0;
    }
  }

  &__case {
    display: inline-flex;
    flex: 0 0 100%;
  }

  &__footer {
    display: flex;
    border-top: 2px solid $color-surface-400;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-16 0;
  }
}
</style>
